body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/1.jpg");
  background-size: 100%;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.sigma {
  margin-left:auto;
  margin-right:auto;
  position: relative;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #222;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
}

a {
  color: #00B7FF;
}
