extends layout
block extra-header
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .container
    .row
      .col-md-8.col-md-push-2
        .img-container.main-logo
          img(src='/images/logo-lg.svg')

    .row.sub-text
      .col-md-12
        h4
          | Enter your Twitter handle to see which celebrities have the most similar (and different) personalities to yours!
    form(method='post', action='/profile')
      .row.twitter-submission
        .col-md-12
          span.h3 @
          input.paragraph.form-control(type='text', value='#{user ? user.screen_name : "" }', name='username', placeholder='your twitter handle...', required)
          button.button.h4(type='submit') Match me!
          .loading
            img(src='/images/loading.gif', alt='loading')
