extends layout
block extra-header
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .center-container
    .row.sub-text
      .col-md-12
        h4
          | Enter your Twitter handle to find out what your tweets reveal about you!
    form(method='post', action='/profile')
      .row.twitter-submission
        .col-md-12
          span.h4
          input.paragraph.form-control.simple-input(type='text', value='#{user ? user.screen_name : "" }', name='username', placeholder='Your Twitter handle...', required)
          button.button.h4.btn(type='submit') Find Me!
          br
          br
          br
          -if (loading)
            i.fa.fa-refresh.fa-spin.fa-3x.fa-fw.loading(hidden='true')
              span.sr-only
