extends layout

block content
  script(src='http://code.jquery.com/jquery-1.9.1.js')
  script(src='https://d3js.org/d3.v3.min.js')
  script(type='text/javascript', src='/javascripts/sigma.min.js')
  script(type="text/javascript").
    var data = !{json}
  h4 Hello there, @#{title}! Here's what we learned about you.
  #graph-container
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  h4#highest.highest Looks like you scored highest on...
  #myDiv.myTraits

  script(src='/javascripts/data-vis.js')
